.file{
    text-align: center;
    color: royalblue;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 10px;
}
.file pre{
    text-align: center;
    margin : 10px;
    height: 2rem;
}

.file svg{
    filter: drop-shadow(1px 1px 1px purple);
}

.file.selected{
    background-color: darkgrey;
}

