.files-container {
    min-height: 81vh;
    overflow: auto;
    margin-left: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    
    background-color: #e3f2fd;
    order: 2;
    flex-grow: 1;
}


/* File path */
.files-container h2 {
    text-align: center;
    color: #0d47a1;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
}



.up-arrow {
    vertical-align: middle;
    cursor: pointer;
}

.fade-box {
    position: fixed;
    top: 45%;
    left: 45%;
}

.files-container.darken {
    background-color: #b9b9b9;
    background-image:none !important; 
    -o-animation: fadeIt 1s; 
    animation: fadeIt 1s; 
}

.fixed-size-card {
    width: calc(100% / ROWSI1ZE - 0.6rem); /* Adjust the margin and width as needed */
    /* Add other styles for the card */
  }


  
@keyframes fadeIt {
    0%   { background-color: #FFFFFF; }
    100%  { background-color: #b9b9b9; }
}

