.files-container {
    min-width: 850px;
    max-width: 1050px;
    min-height: 800px;
    max-height: 800px;
    overflow: auto;
    background-color: white;
    order: 2;
    flex-grow: 1;
}

/* .files-container td{
    background-color: white;
} */

.file{
    width: 120px;
    padding: 2px;

}

.files-container h2 {
    text-align: center;
}

.files-container td {
    width: 120px;
    margin-left: 3px;
    margin-right: 3px;
}

.up-arrow {
    vertical-align: middle;
    cursor: pointer;
}

.fade-box {
    position: fixed;
    top: 45%;
    left: 45%;
}

.files-container.darken {
    background-color: #b9b9b9;
    background-image:none !important; 
    -o-animation: fadeIt 1s; 
    animation: fadeIt 1s; 
}

@keyframes fadeIt {
    0%   { background-color: #FFFFFF; }
    100%  { background-color: #b9b9b9; }
}